<div class="row">
	<div class="large-8">
		<h1>Lista de produtos</h1>
		<%= link_to "Create new product", new_product_path, :class => "button" %>
		<table>
			<thead>
				<tr>
					<th>Name</th>
					<th>Price</th>
					<th>Active</th>
					<th>Category</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>object</td>
					<td>object</td>
					<td>object</td>
					<td>object</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>