<div class="row">
	<div class="large-5 large-centered columns">
		<h2>Name: <%= @product.name %> </h2>
		<h2>Price: <%= @product.price %> </h2>
		<h2>Active?: <%= @product.active %> </h2>
		<h2>Category: <%= @product.category.name %> </h2>
	</div>
</div>
